body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #515647;
}

.page-container {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-image: url('manOnCliff.webp');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 50%;
    /* transform: translateY(-50%); */
    padding: 2vh 0;
    /* Optional: adds a semi-transparent overlay for better text visibility */
}

.playfair-display-sc-regular {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-sc-bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
}

.playfair-display-sc-black {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
}

.playfair-display-sc-regular-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: italic;
}

.playfair-display-sc-bold-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: italic;
}

.playfair-display-sc-black-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
    color: rgba(31, 31, 26, 0.733);

}

p {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: 857c63;
}

h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    justify-self: center;
    /* transform: translateX(-33.333%); */
    color: #000204;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%;
    width: 60%; */
    margin-left: .2vw;
    background: rgba(237, 220, 178, 0.7);
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 15%,
            black 85%,
            transparent 100%);
    mask-image: linear-gradient(to right,
            transparent 0%,
            black 15%,
            black 85%,
            transparent 100%);

}